@import 'bootstrap';
@import 'rails_bootstrap_forms';

.user-data {
	display: flex;
	margin-bottom: 10px;
}

.name-posts {
	display: flex;
	height: 100px;
}

.user-photo {
	height: 100px;
}

.name {
	margin: 20px;	
}

.comments-likes{
	margin-left: 200px;
}

.number-of-posts {
	top: 50px;
}


